<h3><%= @user.first %> <%= @user.last %>'s Profile</h3>
<% if current_user.id == @user.id %>
<% if can? :update, User %><%= link_to 'Edit Profile', edit_user_path %><% end %>
<% if can? :destroy, User %> | <%= link_to 'Cancel my account', registration_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete %><% end %>
<% end %>

<p>&nbsp;</p>
<p><b>Email:</b> <%= @user.email %></p>
<p><b>Level:</b> <%= @user.role %></p>
<p><b>Last Sign In:</b> <%= @user.last_sign_in_at.localtime %></p>
<p>&nbsp;</p>


<!-- Show what skills are yet to be attempted -->
<h4>Skills Record</h4>
<% @domains = Domain.all %>
  <% @domains.each do |domain| %>
  <p>Curriculum: <%= domain.curriculum %></p>
<table class="table">
  <tr>
    <th>Domain</th>
    <th>Skill <em>(click to update dates)</em><th>
    <th>Observed</th>
    <th>Done</th>
    <th>Taught</th>
  </tr>
  
    <% @skills = domain.skills %>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= domain.name %></td>
        <td><%= link_to skill.name, domain_skill_path(domain, skill) %></td>
        <% if @user_history = UserHistory.where(:user_id => @user.id, :skill_id => skill.id).any? %>
        <% @user_history = UserHistory.where(:user_id => @user.id, :skill_id => skill.id) %>
        <% user_history = @user_history[0] %>
        <td></td>
        <td><%= user_history.date_observed %></td>
        <td><%= user_history.date_done %></td>
        <td><%= user_history.date_taught %></td>
        <% else %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
      </tr> 
    <% end %>
  
</table>
<% end %>
