<h3><%= @user.first %> <%= @user.last %>'s Profile</h3>
<% if current_user.id == @user.id %>
<% if can? :update, User %><%= link_to 'Edit Profile', edit_user_path %><% end %>
<% if can? :destroy, User %> | <%= link_to 'Cancel my account', registration_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete %><% end %>
<% end %>

<p>&nbsp;</p>
<p><b>Email:</b> <%= @user.email %></p>
<p><b>Role:</b> <%= @user.role %></p>
<p><b>Last Sign In:</b> <%= @user.last_sign_in_at %></p>
<p>&nbsp;</p>

<!-- Show what skills have been seen, done and taught -->
<table class="table">
  <tr>
	<th>Domain</th>
	<th>Skill</th>
	<th>Observed</th>
	<th>Done</th>
	<th>Taught</th>
  </tr>
  <% @user_histories = UserHistory.where(:user_id == @user.id) %>
  <% @user_histories.each do |user_history| %>
  <tr>
  	<td><%= user_history.domain_id %></td>
  	<td><%= user_history.skill_id %></td>
  	<td><%= user_history.date_observed %></td>
  	<td><%= user_history.date_done %></td>
  	<td><%= user_history.date_taught %></td>
  	<% end %>
  </tr>	
</table>


