<p id="notice"><%= notice %></p>



<h3>Skill:
  <%= @skill.name %>
</h3>



<%= link_to 'Edit Skill', edit_domain_skill_path(@domain, @skill) %> |
<% dname = @domain.name %><%= link_to "Back to #{ dname } Domain", @domain %>
<p>&nbsp;</p>

<p>
  <b>Domain:</b> <%= @domain.name %>
</p>

<p>
  <b>Skill Standard:</b>
  <%= @skill.standard %>
</p>
<p>&nbsp;</p>

<!-- Show if there is a user_history for this user and this skill -->
<% if UserHistory.where(:user_id => current_user.id, :skill_id => @skill.id).any? %>
<% @user_history = UserHistory.where(:user_id => current_user.id, :skill_id => @skill.id) %>
<% @user_hist = @user_history[0] %>
<p>
  <b>Date Observed:</b>
  <% if @user_hist.date_observed %>
  <%= @user_hist.date_observed %>
  <% else %>
  Yet to observe
  <% end %>
</p>

<p>
  <b>Date Performed:</b>
  <% if @user_hist.date_done %>
  <%= @user_hist.date_done %>
  <% else %>
  Yet to do
  <% end %>
</p>

<p>
  <b>Date Taught:</b>
  <% if @user_hist.date_taught %>
  <%= @user_hist.date_taught %>
  <% else %>
  Yet to teach
  <% end %>
</p>
<% else %>

<% end %>

<p>&nbsp;</p>

<% if UserHistory.where(:user_id => current_user.id, :skill_id => @skill.id).any? %>
<% @user_history = UserHistory.where(:user_id => current_user.id, :skill_id => @skill.id) %>
<% @user_hist = @user_history[0] %>
<% if @user_hist.date_observed || @user_hist.date_done || @user_hist.date_taught %>
<%= link_to 'Update Dates', { :controller => :user_histories, :action => :edit, :id => @user_hist.id, :domain_id => @user_hist.domain_id, :skill_id => @user_hist.skill_id } %>
<% end %>
<% else %>
<%= link_to 'Add Achievement Dates', new_domain_skill_user_history_path(@domain, @skill) %>
<% end %>
