<p id="notice"><%= notice %></p>

<h3>Domain: <%= link_to @domain.name, @domain %></h3>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>

<p>
  <b>Standard:</b>
  <%= @skill.standard %>
</p>

<!-- Show if there is a user_history for this user and this skill -->
<% if UserHistory.where(:user_id => current_user.id, :skill_id => @skill.id).any? %>
<% @user_history = UserHistory.where(:user_id => current_user.id, :skill_id => @skill.id) %>
<% @user_hist = @user_history[0] %>
<p>
  <b>Observed:</b>
  <%= @user_hist.date_observed %>
</p>

<p>
  <b>Performed:</b>
  <%= @user_hist.date_done %>
</p>

<p>
  <b>Taught:</b>
  <%= @user_hist.date_taught %>
</p>
<% else %>
<%= link_to 'Update Dates', new_domain_skill_user_history_path(@domain, @skill) %>
<% end %>


<%= link_to 'Edit Skill', edit_domain_skill_path(@domain, @skill) %> |
<%= link_to 'Back', @domain %>
