<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @domain.name %>
</p>

<p>
  <b>Curriculum:</b>
  <%= @domain.curriculum %>
</p>

<p>
  <b>Stream:</b>
  <%= @domain.stream %>
</p>

<!-- List Skills -->
<p><b>Skills:</b></p>
<% @domain.skills.each do |skill| %>
	<%= link_to skill.name, domain_skill_path(@domain, skill) %><br />
	<% end %>
<p>&nbsp;</p>	

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %> |
<%= link_to 'New Skill', new_domain_skill_path(@domain) %>
